.event {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  text-align: center;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .event {
    font-size: 1.2rem;
  }
}
